@import url('https://fonts.googleapis.com/css?family=Roboto');
@font-face {
    font-family: HelveticaNeue; /* Имя шрифта */
    src: url(fonts/HelveticaNeue.ttf); /* Путь к файлу со шрифтом */
}
*{
    padding: 0;
margin:0;
}
body{display: flex;
    height: 100%;
font-size: 14px;
flex-direction: column;
    justify-content: space-between;

}
header{
    display: flex;
   align-self:  flex-start;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 90px;
    background-color: #000;
}
.header-items{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    max-width: 1180px;

}
.header-block-1{
    margin-left:25px;
    display: flex;
    flex-grow:1 ;
    flex-direction: row;
    justify-content: flex-start;
}

.header-block-2{
    margin-right: 25px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-grow:2 ;
    justify-content: flex-end;
}
.logo{
    display: block;
    width: 50px;
    margin-right:30px;
    height: 50px;
    background-repeat: no-repeat;
    background-image: url("images/logo.png");
    background-color: #fff;
    border-radius: 100%;
    align-self: center;

}
nav{
    width: calc(100% - 50px);
    display: flex;

}
.header-nav{
    width: 100%;
    align-items: flex-end;
    display: flex;
    justify-content: space-around;
}
.header-nav li{
    display: block;
    align-self: flex-end;

}
.header-nav>li>a{
    display: block;
    text-decoration: none;
    padding: 20px 25px 30px 25px;
    font-size: 1em;
    font-family: "Roboto";
    text-align: center;
    color: rgba( 255, 255, 255, 0.541 );
    text-transform: uppercase;


}
.header-nav>li>a:hover{
    font-size: 1em;
    transition: 0.5s;
    padding-bottom: 25px;
    font-family: "Roboto";
    color: rgb( 255, 255, 255 );
    border-bottom: 5px solid #2196f3;
}
#nav-little{
    display:none;
}
.header-nav li>a.tab-active{

    font-size: 1em;
    padding-bottom: 25px;
    font-family: "Roboto";
    color: rgb( 255, 255, 255 );
    border-bottom: 5px solid #fff;
}
.videos-hover>a{
    display: block;

    text-decoration: none;
    margin-left:-35px;
    margin-bottom: 30px;
   padding-top:14px;
    font-size: 1em;
    font-family: "Roboto";
    text-align: center;
    color: rgba( 0, 0, 0, 0.541 );
    text-transform: uppercase;
}
.videos-hover{
    display: none;
    border-radius: 2px;

    background-color: rgb( 250, 250, 250 );
    position: absolute;
    z-index: 300;
    top:30px;
    box-shadow: 0.5px 0.866px 4px 0px rgb( 0, 0, 0 );
    width: 138px;
    height: 176px;
}
.videos-hover-nav>li>a{
    padding-left: 24px;
    padding-bottom: 10px;
    padding-top: 10px;
    display: block;
    text-decoration: none;
    font-size: 1em;
    font-family: "Roboto";
    color: rgb( 68, 68, 68 );


}
.videos-hover-nav>li>a:hover{
    transition: 0.5s;
    background-color: rgb( 238, 238, 238 );

}
.videos-hover:hover{
    display:block;
}
a.videos:hover + .videos-hover{
    display: block;
}
.videos-hover:after{
    display: block;
    content: " ";
cursor: pointer;

    background-image: url("images/drop-arrow.png");

top:20px;
    right: 20px;
    width: 10px;
    height: 5px;
    background-size: cover;
    position: absolute;
    z-index: 450;



}
.litle-nav-focus{
    list-style: none;
    display: none;
    border-radius: 2px;
    background-color: rgb( 250, 250, 250 );
    position: absolute;
    z-index: 300;
    top:70px;
    box-shadow: 0.5px 0.866px 4px 0px rgb( 0, 0, 0 );
    width: 138px;
    height: 203px;

}
.litle-nav-focus>li:nth-of-type(1){
    margin-top:10px;
}
.litle-nav-focus>li>a:hover{
    transition: 0.5s;
    background-color: rgb( 238, 238, 238 );

}
.litle-nav-focus>li>a{
    padding-left: 24px;
    padding-bottom: 10px;
    padding-top: 10px;
    display: block;
    text-decoration: none;
    font-size: 1em;
    font-family: "Roboto";
    color: rgb( 68, 68, 68 );}
#nav-little:checked + .litle-nav-focus{
    display: block;
}
a.signin-signup{
    display: block;
   margin-bottom: 30px;
    margin-right: 20px;
    font-size: 1em;
    font-family: "Roboto";
    text-align: center;
    color: rgb( 255, 255, 255 );
    text-decoration: none;

}
.search{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    position: relative;

}
#search-box{
    background-color: #000;
    display: block;
    margin-bottom: 25px;
    border: none;
    outline: none;
    height: 30px;
    width: 0px;
    font-size: 1.5em;
    font-family: "Roboto";
    color: rgb( 153, 153, 153 );
    text-align: left;
}
.search-label+#search-box:focus{
    transition: 0.1s;
    margin-left: 20px;
    background-color: #000;
    position:absolute;
    right:0px;
    bottom:0px;
    outline: none;
    display: block;
    width: 200px;
}
.search-label+#search-box:focus+.search-icon{
    display: block;
}
.search-icon{
    display: none;
    cursor: pointer;

    position: absolute;
    bottom:0px;
    left:-210px;
    margin-bottom: 30px;

    background-image: url("images/search.png");
    background-color: black;
    width: 18px;
    height: 18px;
    background-size: cover;


}

.search>label{
    cursor: pointer;
    margin-bottom: 30px;
    display: block;
    background-image: url("images/search.png");
    width: 18px;
    height: 18px;
    background-size: cover;
}
.little-nav{
    display:none;
    width:30px;
    height: 24px;
    margin-bottom: 27px;
    background-image: url("images/little-nav.png");
    background-size:cover ;
    background-repeat: no-repeat;
}
main{
display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;

    width: 100%;
    height: auto;
    background-color:#f3f3f3;
}
article{
    display: flex;
    flex-direction:column;
    padding-top:15px;
    padding-bottom:10px;
    margin-top: 40px;
    width: 50% ;
    min-width: 680px;
    max-width: 780px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0.5px 0.866px 3px 0px rgb( 0, 0, 0 );
}
.article-header{

display: flex;
    background-color: #fff;
    padding: 10px;
}
.publisher-profile-img{
    display: flex;
    border-radius: 100%;
    width: 40px;

    height: 40px;

    background-size: cover;
}
.article-1 .publisher-profile-img{
    background-image: url("images/Article1avatar.png");
}
.article-2 .publisher-profile-img{
    background-image: url("images/Article2avatar.png");
}
.publisher-info{
    margin-left:15px;
    display: flex;
    flex-direction: column;
}

.publisher-name{
    font-size: 1.142em;
    font-family: "Roboto";
    color: rgb( 77, 77, 77 );

}
.post-time{
               font-size: 1em;
               font-family: "Roboto";
               color: rgb( 153, 153, 153 );


}
.article-img{
    width: 100%;
    height: 100%;
}
.article-description{
    display: flex;
    flex-direction: column;
    padding: 25px;
    padding-right: 75px;
    padding-bottom: 50px;
    min-width: 580px;
   max-width: 680px;
}
.article-description>p{
    padding-top:15px;
    padding-bottom:30px ;
    text-align: left;
display: flex;
    font-size: 18px;

    font-family:"HelveticaNeue";
    color: rgb( 0, 0, 0 );

    line-height: 1.778;

}
.article-description-header{
display: flex;
    font-size: 2.5em;
    font-family: "Roboto";
    color: rgb( 0, 0, 0 );
    line-height: 1.333;
}
.article-more{
    text-decoration: none;

    display: flex;
    align-items:center;
   ;
        font-size: 1em;
    font-family: "Roboto";
    color: rgb( 255, 255, 255 );
    text-transform: uppercase;


    border-radius: 2px;
    background-color: rgb( 33, 150, 243 );
    box-shadow: 0.5px 0.866px 4px 0px rgb( 0, 0, 0 );

    width: 112px;
    height: 36px;

}
.article-more>span{
    margin: auto;
}
.article-more:active{
    border-radius: 2px;
    background-color: rgb( 6, 122, 215 );
    box-shadow: 0.5px 0.866px 4px 0px rgb( 0, 0, 0 );
    width: 112px;
    height: 36px;
    z-index: 84;
}

.video-block-1{
    position: relative;
    display: flex;
    padding-top: 0px;
    width: 90%;
    min-width: 680px;
    max-width: 1180px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;

}
.video-block-1 .video-description{
    display: flex;
    padding-left: 0;
    position: relative;
    margin:0px;
}
.video-description>.article-description.video{
    margin:0px;
    width: 100%;
    max-width: 1180px;
}
.play-button{
    position: absolute;
top:-36px;
    right: 25px;
    display: block;
    width: 72px;
    height: 72px;
    background-image: url("images/PlayButton.png");
}
.play-button:hover{
    transition: 0.5s;
    background-image: url("images/PlayButton-hover.png");
}
body > main > div.video-block-2{

    display: flex;
justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 0px;
    width: 90%;
    min-width: 680px;
    max-width: 1180px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 80px;

    flex-direction: row ;
}
.video-box{
    display: block;
    border-radius: 4px;
    background-color: rgb( 255, 255, 255 );

    box-shadow: 0.5px 0.866px 3px 0px rgb( 0, 0, 0 );

    width: 32%;
    min-width: 180px;
    max-width: 380px;
padding-bottom: 30px;
    margin-bottom: 20px;
}
.video-header-img{
    width: 100%;
margin-bottom: 30px;

}
.main-video-img{

    border-radius:5px 5px 0 0;
    width: 100%;
}
.video-block-1>.article-description>h2{
    margin-bottom: 25px;
}
.video-block-1>.article-description{
    padding-bottom: 30px;
}
a.video-link{
    text-decoration: none;
    font-size: 1em;
    font-family: "HelveticaNeue";
    color: rgb( 0, 0, 0 );

}
.video-description>h2{
    font-size: 1.28em;
    font-family: "Roboto";
    margin-bottom: 8px;
    color: rgb( 0, 0, 0 );
}
.video-description>h2>a{
    text-decoration: none;
}
.video-description{padding-left: 20px;
padding-right: 20px;}
.article-description.video>h2{
    max-width: 700px;

}
a.video-link:hover{
    text-decoration: underline ;
}
.pages{
    margin-top: 95px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 96px;
    background-color:#2196f3;
}
.pages-items{

    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1180px;
    justify-content: space-between;
    margin-bottom:30px;

}
.pages-next,.pages-previous{
text-decoration: none;
    font-size: 1.34em;
    font-family: "Roboto";
    color: rgb( 255, 255, 255 );
    text-align: right;

}
.pages-next{
   margin-right:50px;
}
.pages-previous{
    margin-left:50px;
}
.pages-previous:before{
display: block;
    content: " ";


    background-image: url("images/leftarrow.png");


    width: 16px;
    height: 16px;
    background-size: cover;
    position: relative;
    top:19px;
    left:-30px;


}
.pages-next:before{
    display: block;
    content: " ";


    background-image: url("images/rightarrow.png");


    width: 16px;
    height: 16px;
    background-size: cover;
    position: relative;
    top:19px;
    left:55px;


}
footer{

    display: flex;

    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 90px;
    background-color:#fff;
}
.footer-items{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1180px;
    justify-content: space-between;
}
.footer-nav li{
    display: flex;
    margin-left:25px;
}

.about-author,.footer-nav{

    display: flex;
}
.footer-nav{

}
.about-author{
margin-right: 25px;
}
.article-description.video{
    max-width: 780px;
}
.footer-nav li>a , .about-author{
    text-decoration: none;
    font-size: 1em;
    font-family: "Roboto";
    color: rgb( 153, 153, 153 );
}
@media screen and (max-width: 768px)
{.logo{margin-right: 0px;}
    .header-block-1{
        margin-left: 25px;
    }
    .header-block-2{
        margin-right: 25px;
    }
    .header-nav>li:nth-of-type(1){display: none;}
    .search-icon{
        display: none;
        cursor: pointer;

        position: absolute;
        bottom:0px;
        left:-160px;
        margin-bottom: 30px;}
    .header-nav>li>a{
        padding:20px 7px 30px 7px;
    }
    .search-label+#search-box:focus{

        width:150px;
    }
    article{
        width: 90%;
        min-width: 480px;
        max-width: 680px;
    }
    .article-description{
        min-width: 380px;
        padding-right: 50px;
        max-width: 580px;
    }
    .video-block-1{
        display: flex;
        padding-top: 0px;
        width: 90%;
        min-width: 480px;
        max-width: 680px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 40px;

    }
    body > main > div.video-block-2{

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 0px;
        width: 90%;
        min-width: 480px;
        max-width: 680px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 50px;

        flex-direction: row ;
    }
    .article-description.video{

        padding-right: 140px;
    }
    .video-box{
        display: block;
        border-radius: 4px;
        background-color: rgb( 255, 255, 255 );

        box-shadow: 0.5px 0.866px 3px 0px rgb( 0, 0, 0 );

        width: 48%;
        min-width: 130px;
        max-width: 330px;
        padding-bottom: 30px;
        margin-bottom: 20px;
    }
.pages{
    margin-top: 40px;

}
}
@media screen and (min-width: 500px) {
    #nav-little:checked + .litle-nav-focus{
        display: none;
    }

}
@media screen and (max-width: 500px) {
    .logo{margin-right: 0px;}
    .header-block-1{
        margin-left: 20px;
    }
    .header-block-2{
        margin-right: 20px;
    }
    .search-icon{
        display: none;
        cursor: pointer;

        position: absolute;
        bottom:0px;
        left:-110px;
        margin-bottom: 30px;}
    .header-nav{display: none;}
    .footer-nav{display: none;}
    article{
        margin-top:10px;
        width: 95%;
        min-width: 280px;

        max-width: 480px;
    }
    .article-description{
        min-width: 180px;
        padding-right: 50px;
        max-width: 380px;
    }
    a.signin-signup{
        display: none;
    }.search-label{margin-right: 20px;}
    .search-label+#search-box:focus{
        margin-left:0px;

        width:100px;
        margin-right:10px;
    }
    .video-block-1{
        display: flex;
        padding-top: 0px;
        width: 90%;
        min-width: 280px;
        max-width: 480px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 20px;

    }
    body > main > div.video-block-2{

        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding-top: 0px;
        width: 90%;
        min-width: 280px;
        max-width: 480px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;

        flex-direction: row ;
    }
    .article-description.video{
        padding-top: 45px;
        padding-right: 25px;
    }
    .video-box{
        display: block;
        border-radius: 4px;
        background-color: rgb( 255, 255, 255 );

        box-shadow: 0.5px 0.866px 3px 0px rgb( 0, 0, 0 );

        width: 100%;
        min-width: 280px;
        max-width: 480px;
        padding-bottom: 30px;
        margin-bottom: 10px;
    }
    .little-nav{display: flex}
    .about-author{margin: 0;}
    .pages{margin-top: 10px;}
    .footer-items{
        justify-content: center ;
    }

}


